@model Digital.WCFClient.ConfigService.UsersModel
@using Digital.Common.Mvc.Extensions
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_LayoutDigital.cshtml";
}

<div class="pageheader">
    <h2><i class="fa fa-user"></i> 个人中心 <span>个人简介</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">你的位置:</span>
        <ol class="breadcrumb">
            <li><a href="">个人中心</a></li>
            <li class="active">个人简介</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">
        <div class="col-sm-3">
            <img src="@Html.IsNull(@Model.UsersInfoModel.DisplayPicture, "../DigitalStyle/images/pic-none.png", @Model.UsersInfoModel.DisplayPicture)" class="thumbnail img-responsive" alt="" />

            <div class="mb30"></div>

            <h5 class="subtitle">我的介绍</h5>
            <p class="mb30">@Model.UsersInfoModel.BeGoodAtIntroduction ....<a href="">更多</a></p>

            <h5 class="subtitle">联系方式</h5>
            <ul class="profile-social-list">
                <li><i class="fa fa-qq"></i>@Model.UsersInfoModel.QQ</li>
                <li><i class="fa fa-envelope"></i>@Model.UsersInfoModel.Email</li>
                <li><i class="fa fa-phone"></i>@Model.UsersInfoModel.Tel</li>
                <li><i class="fa fa-envelope-o"></i>@Model.UsersInfoModel.Zip</li>
            </ul>

            <div class="mb30"></div>



        </div><!-- col-sm-3 -->
        <div class="col-sm-9">

            <div class="profile-header">
                <h2 class="profile-name">@Model.UsersInfoModel.NickName</h2>
                @{
                    //string[] PCModelList = Model.UsersInfoModel.ProvinceNameAndCityName();
                    string Skills = string.Empty;
                    if (Model.UsersInfoModel.GoodAtWhatModels != null)
                    {
                        foreach (var WhatModel in Model.UsersInfoModel.GoodAtWhatModels)
                        {
                            Skills += WhatModel.SkillsModel.Name + ",";
                        }
                    }
                    Skills = Skills.Trim(',');
                }
                <div class="profile-location"><i class="fa fa-map-marker"></i> 
                @{
                    if (@Model.UsersInfoModel.CityModels != null)
                    {
                       @Html.Raw(Model.UsersInfoModel.CityModels.ProvinceName+","+@Model.UsersInfoModel.CityModels.Name)   
                    }
                    
                }
                </div>
                <div class="profile-position"><i class="fa fa-briefcase"></i> @Skills</div>

                <div class="mb20"></div>

                <button class="btn btn-success mr5"><i class="fa fa-user"></i>申请企业资质</button>
            </div><!-- profile-header -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified nav-profile">
                <li class="active"><a href="#activities" data-toggle="tab"><strong>我的项目</strong></a></li>
                <li><a href="#followers" data-toggle="tab"><strong>中标项目</strong></a></li>
                <li><a href="#following" data-toggle="tab"><strong>我的创意</strong></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="activities">
                    <div class="activity-list">

                        <div class="media">
                            <a class="pull-left" href="#">

                            </a>
                            <div class="media-body">
                                <h3 class="follower-name">项目名称</h3>
                                <div class="profile-location"><i class="fa fa-map-marker"></i>  我的任务</div>
                                <div class="profile-position"><i class="fa fa-briefcase"></i> 项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述</div>

                                <div class="mb20"></div>

                                <button class="btn btn-sm btn-success mr5"><i class="fa fa-user"></i> 查看项目</button>
                            </div>
                        </div><!-- media -->
                        <div class="media">
                            <a class="pull-left" href="#">

                            </a>
                            <div class="media-body">
                                <h3 class="follower-name">项目名称</h3>
                                <div class="profile-location"><i class="fa fa-map-marker"></i>  我的任务</div>
                                <div class="profile-position"><i class="fa fa-briefcase"></i> 项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述项目描述</div>

                                <div class="mb20"></div>

                                <button class="btn btn-sm btn-success mr5"><i class="fa fa-user"></i> 查看项目</button>
                            </div>
                        </div><!-- media -->


                    </div><!-- activity-list -->

                    <button class="btn btn-white btn-block">显示更多</button>
                </div>
                <div class="tab-pane" id="followers">

                    <div class="follower-list">



                    </div><!--follower-list -->

                </div>
                <div class="tab-pane" id="following">

                    <div class="activity-list">



                    </div><!-- activity-list -->

                    <button class="btn btn-white btn-block">显示更多</button>

                </div>
            </div><!-- tab-content -->

        </div><!-- col-sm-9 -->
    </div><!-- row -->

</div><!-- contentpanel -->