@using Digital.WCFClient.ConfigService
@using System.Collections.ObjectModel
@using Digital.Common.Mvc.Extensions
@using Digital.Web.Controllers
@using Microsoft.AspNet.Identity
@using Digital.Common.Utilities
@model Digital.WCFClient.ConfigService.NewsModel
@{
    ViewBag.Title = "添加播报";
    Layout = "~/Views/Shared/_LayoutDigital.cshtml";
}
@section PageSpecificJavascriptIncludes{
    <link rel="stylesheet" href="../DigitalStyle/css/jquery.gritter.css"/>
    <link rel="stylesheet" href="../DigitalStyle/css/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="../DigitalStyle/css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="../DigitalStyle/css/colorpicker.css" />

    <script src="../DigitalStyle/js/jquery.gritter.min.js"></script>
    <script src="../DigitalStyle/js/jquery.validate.min.js"></script>
    <script src="../DigitalStyle/js/JqueryToken.js"></script>
    <script src="../DigitalStyle/js/jquery.autogrow-textarea.js"></script>
    <script src="../DigitalStyle/js/messages_cn.js"></script>
    <!-- CKEditor -->
    <script src="../DigitalStyle/js/ckeditor/ckeditor.js"></script>
    <script src="../DigitalStyle/js/ckeditor/adapters/jquery.js"></script>

    <!-- commom form js -->
    <script src="../DigitalStyle/js/jquery.tagsinput.min.js"></script>
    <script src="../DigitalStyle/js/jquery.maskedinput.min.js"></script>
    <script src="../DigitalStyle/js/colorpicker.js"></script>

}

<div class="pageheader">
    <h2><i class="fa fa-user"></i> 添加播报 <span>播报中心</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">你的位置:</span>
        <ol class="breadcrumb">
            <li><a href="">企业中心</a></li>
            <li class="active">播报中心</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">&minus;</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">播报管理</h3>
                </div>


                <div class="panel-body panel-body-nopadding">
                    <form class="form-horizontal form-bordered" id="firstForm" onsubmit="return false">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章标题</label>
                            <div class="col-sm-4">
                                <input id="NewsTitle" value="@Model.NewsTitle" type="text" placeholder="" class="form-control" />
                            </div>
                            <div class="col-sm-2">
                                <input type="text" name="colorpicker" class="form-control colorpicker-input" id="colorpicker" />
                                <span id="colorSelector" class="colorselector">
                                    <span></span>
                                </span>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">摘要</label>
                            <div class="col-sm-6">
                                <textarea id="NewsAbstract" class="form-control" rows="3">@Model.NewsAbstract</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章缩略图</label>
                            <div class="col-sm-6">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="glyphicon glyphicon-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-new">Select file</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input id="NewsThumbnail" value="@Model.NewsThumbnail" type="file" />
                                        </span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">发布日期</label>
                            <div class="col-sm-4 ">
                                <div class="input-group">
                                    <input type="text" value="@Model.ReleaseTime" class="form-control" placeholder="mm/dd/yyyy" id="ReleaseTime">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属分类</label>

                            <div class="col-sm-4 ">
                                <select id="NewsCategory" class="form-control chosen-select" data-placeholder="选择分类...">
                                    <option value="0"> --请选择-- </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">文章排序值</label>
                            <div class="col-sm-4">
                                <input id="NewsOrderID" value="@Model.NewsOrderID" type="text" placeholder="数字、越小越靠前" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">关键字</label>
                            <div class="col-sm-4">
                                <input name="NewsKeywords" id="NewsKeywords" class="form-control" value="@Model.NewsKeywords" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">标签</label>
                            <div class="col-sm-4">
                                <input name="NewsLabels" id="NewsLabels" class="form-control" value="@Model.NewsLabels" />
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="checkbox">文章内容</label>
                            <div class="col-sm-6">
                                <textarea id="NewsBody" name="NewsBody" placeholder="请在此输入文章内容" cols="80" rows="10">@Model.NewsBody</textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary" onclick="javascript: Save();">提交</button>&nbsp;
                            <button class="btn btn-default" onclick="javascript: location.reload();">取消</button>
                        </div>
                    </div>
                </div>


            </div><!-- panel -->
        </div>



    </div>
</div>



<script>
    jQuery(document).ready(function () {
        //select option : NewsCategory
        var NewsCategoryjsons=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((List<NewsCategoryModel>)ViewBag.CategoryList))
        DropOption(NewsCategoryjsons,$("#NewsCategory"),@Model.NewsCategoryID);

        // Chosen Select
        jQuery(".chosen-select").chosen({ 'width': '100%', 'white-space': 'nowrap' });

        // Tags Input
        jQuery('#NewsLabels').tagsInput({ width: 'auto' });

        // Tags Input
        jQuery('#NewsKeywords').tagsInput({ width: 'auto' });

        // Textarea Autogrow
        jQuery('#NewsAbstract').autogrow();

        // Color Picker
        if (jQuery('#colorpicker').length > 0) {
            jQuery('#colorSelector').ColorPicker({
                onShow: function (colpkr) {
                    jQuery(colpkr).fadeIn(500);
                    return false;
                },
                onHide: function (colpkr) {
                    jQuery(colpkr).fadeOut(500);
                    return false;
                },
                onChange: function (hsb, hex, rgb) {
                    jQuery('#colorSelector span').css('backgroundColor', '#' + hex);
                    jQuery('#colorpicker').val('#' + hex);
                }
            });
        }

        // Date Picker
        jQuery('#ReleaseTime').datepicker();

        jQuery('#ReleaseTime-inline').datepicker();

        jQuery('#ReleaseTime-multiple').datepicker({
            numberOfMonths: 3,
            showButtonPanel: true
        });

        // With Form Validation Wizard
        var $validator = jQuery("#firstForm").validate({
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
</script>
<script>
    jQuery(document).ready(function () {

        // CKEditor
        jQuery('textarea#NewsBody').ckeditor();
        jQuery('#inlineedit1, #inlineedit2').ckeditor();

        // Uncomment the following code to test the "Timeout Loading Method".
        // CKEDITOR.loadFullCoreTimeout = 5;

        window.onload = function () {
            // Listen to the double click event.
            if (window.addEventListener)
                document.body.addEventListener('dblclick', onDoubleClick, false);
            else if (window.attachEvent)
                document.body.attachEvent('ondblclick', onDoubleClick);
        };

        function onDoubleClick(ev) {
            // Get the element which fired the event. This is not necessarily the
            // element to which the event has been attached.
            var element = ev.target || ev.srcElement;

            // Find out the div that holds this element.
            var name;

            do {
                element = element.parentNode;
            }
            while (element && (name = element.nodeName.toLowerCase()) &&
                (name != 'div' || element.className.indexOf('editable') == -1) && name != 'body');

            if (name == 'div' && element.className.indexOf('editable') != -1)
                replaceDiv(element);
        }

        var editor;

        function replaceDiv(div) {
            if (editor)
                editor.destroy();
            editor = CKEDITOR.replace(div);
        }

    });

    // For News Add Operation , Submit Button
    function Save() {
        var $valid = jQuery('#firstForm').valid();
        if (!$valid) {
            $validator.focusInvalid();
            return false;
        }
        else {
            var IsInsert = 1; // default option : insert new company model
            var NewsID = 0; // default option : insert new company model

            @{

                var CompanyID = 0;
                var UserModel = OperatorFactory.GetUser(User.Identity.GetUserId());
                if (UserModel != null && UserModel.CompanyID !=null&& UserModel.CompanyID.Value > 0) // UserModel.CompanyID.Value : update existing company model
                {
                    //IsInsert = 0;
                    CompanyID = UserModel.CompanyID.Value;
                }

                //var NewsBody = string.Empty;
                //NewsBody = Request.Unvalidated().Form["NewsBody"];
            }

            //------------------TAB 01 : 播报信息
            var valNewsTitle = $.jsparams.input("NewsTitle");
            var valNewsAbstract = $.jsparams.input("NewsAbstract");
            var valNewsThumbnail = $.jsparams.input("NewsThumbnail");
            var valNewsCategoryID = $.jsparams.select("NewsCategory");
            var valNewsOrderID = $.jsparams.input("NewsOrderID");
            var valNewsKeywords = $.jsparams.input("NewsKeywords");
            var valNewsLabels = $.jsparams.input("NewsLabels");
            var valNewsBody = $.jsparams.textarea("NewsBody");//$("#NewsBody").val();//CKEDITOR.instances['NewsBody'].getData();

            var stringTABONE = valNewsTitle + "_" + valNewsAbstract + "_" + valNewsThumbnail + "_" +
                valNewsCategoryID + "_" + valNewsOrderID + "_" + valNewsKeywords + "_" + valNewsLabels + "_" +
                valNewsBody;
            alert(stringTABONE);

            var datas={ CompanyID:@CompanyID,IsInsert:IsInsert,NewsTitle:valNewsTitle,NewsAbstract:valNewsAbstract,
                NewsThumbnail:valNewsThumbnail,NewsCategoryID:valNewsCategoryID,NewsOrderID:valNewsOrderID,
                NewsKeywords:valNewsKeywords,NewsLabels:valNewsLabels,NewsBody:valNewsBody};
            ComAjax("/Company/CompanyNewsSave",datas,"播报信息");

        }
    }

</script>


