@using Digital.WCFClient.ConfigService
@using System.Collections.ObjectModel
@using Digital.Common.Mvc.Extensions
@using Digital.Web.Controllers
@using Microsoft.AspNet.Identity
@using Digital.Common.Utilities
@model Digital.WCFClient.ConfigService.NewsCategoryModel
@{
    ViewBag.Title = "播报分类管理";
    Layout = "~/Views/Shared/_LayoutDigital.cshtml";
}

<link href="../DigitalStyle/css/jquery.datatables.css" rel="stylesheet">
<link href="../DigitalStyle/css/jquery.gritter.css" rel="stylesheet">
<script src="../DigitalStyle/js/jquery.gritter.min.js"></script>

<div class="pageheader">
    <h2><i class="fa fa-user"></i> 播报分类管理 <span>播报中心</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">你的位置:</span>
        <ol class="breadcrumb">
            <li><a href="">企业中心</a></li>
            <li class="active">播报管理</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">&minus;</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">分类管理</h3>
                </div>
                <div class="panel-body">
                    <div class="btn-demo mr10">
                        <a class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-pencil mr5"></i> 添加顶级分类</a>
                        @*<a class="btn btn-primary"><i class="fa fa-comments mr5"></i> 保存</a>*@
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hidaction table-hover mb30">
                            <thead>
                                <tr>
                                    <th>排序</th>
                                    <th>分类名称</th>
                                    <th>子类</th>
                                    <th>分类图片</th>
                                    <th>分类内容</th>
                                    <th>管理</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.CategoryList != null)
                                    {
                                        foreach (var CategoryMode in (List<NewsCategoryModel>)ViewBag.CategoryList)
                                        {
                                            <tr>
                                                <td><input type="text" name="name" class="form-control width30" placeholder="10" value="@CategoryMode.NewsCategoryOrderID" /></td>
                                                <td><input type="text" name="name" class="form-control " placeholder="X86主板" value="@CategoryMode.NewsCategoryName" /></td>
                                                <td><a href=""><i class="fa fa-plus-square"></i></a> 添加子类</td>
                                                <td>@CategoryMode.NewsCategoryPicture</td>
                                                <td>@CategoryMode.NewsCategoryContent</td>
                                                <td class="table-action-hide">
                                                    <a href="" onclick="javascript:CategoryEdit(@CategoryMode.NewsCategoryID);"><i class="fa fa-pencil" data-toggle="modal" data-target=".bs-example-modal-lg"></i></a>
                                                    <a href="" onclick="javascript:CategoryDelete(this,@CategoryMode.NewsCategoryID);" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                    @*<div class="btn-demo mr10">
                            <button class="btn btn-primary mr5" type="button"><i class="fa fa-pencil mr5"></i> 添加顶级分类</button>
                            <button class="btn btn-primary mr5" type="button"><i class="fa fa-comments mr5"></i> 保存</button>
                        </div>*@
                </div>
            </div><!-- panel -->
        </div><!-- col-sm-6 -->
    </div>
</div>

<div class="alert alert-warning fade in nomargin">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button>
    <h4>温馨提示</h4>
    <p>
        1、如果您的信息较多，建议设置二级分类，方便用户查找；<br>
        2、建议尽量控制每个分类下的供应产品数量，用户查看更方便；<br>
        3、您设置成功的自定义分类，在您企业店铺显示会有一定时间的延迟。<br>
        4、超过10个自定义分类不允许一次性清空
    </p>

</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button" onclick="javascript:CategoryDIValuesClear();">&times;</button>
                <h4 class="modal-title">顶级分类</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-bordered" id="firstForm" onsubmit="return false">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-sm-3 control-label">排序值</label>
                        <div class="col-sm-4">
                            <input id="NewsCategoryOrderID" type="text" placeholder="排序值..." value="@Model.NewsCategoryOrderID" class="form-control" />
                            <input type="hidden" id="NewsCategoryID" value="@Model.NewsCategoryID" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">分类名称</label>
                        <div class="col-sm-6">
                            <input id="NewsCategoryName" type="text" placeholder="分类名称..." value="@Model.NewsCategoryName" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">分类图片</label>
                        <div class="col-sm-6">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="glyphicon glyphicon-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">Select file</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input id="NewsCategoryPicture" type="file" value="@Model.NewsCategoryPicture" />
                                    </span>
                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">分类内容</label>
                        <div class="col-sm-6">
                            <textarea id="NewsCategoryContent" class="form-control" rows="5">@Model.NewsCategoryContent</textarea>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-primary" onclick="javascript:Save();">提交</button>&nbsp;
                                <button aria-hidden="true" data-dismiss="modal" class="close" onclick="javascript:CategoryDIValuesClear();">取消</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="../DigitalStyle/js/jquery-1.10.2.min.js"></script>
<script src="../DigitalStyle/js/jquery-migrate-1.2.1.min.js"></script>
<script src="../DigitalStyle/js/bootstrap.min.js"></script>
<script src="../DigitalStyle/js/modernizr.min.js"></script>
<script src="../DigitalStyle/js/jquery.sparkline.min.js"></script>
<script src="../DigitalStyle/js/toggles.min.js"></script>
<script src="../DigitalStyle/js/retina.min.js"></script>
<script src="../DigitalStyle/js/jquery.cookies.js"></script>

<script src="../DigitalStyle/js/holder.js"></script>
<script src="../DigitalStyle/js/morris.min.js"></script>
<script src="../DigitalStyle/js/raphael-2.1.0.min.js"></script>

<script src="../DigitalStyle/js/jquery.datatables.min.js"></script>
<script src="../DigitalStyle/js/chosen.jquery.min.js"></script>

<script src="../DigitalStyle/js/bootstrap-wizard.min.js"></script>
<script src="../DigitalStyle/js/jquery.validate.min.js"></script>
<script src="../DigitalStyle/js/JqueryToken.js"></script>
<script src="../DigitalStyle/js/custom.js"></script>

<script>
    jQuery(document).ready(function () {

        jQuery('#table1').dataTable();

        jQuery('#table2').dataTable({
            "sPaginationType": "full_numbers"
        });

        // Chosen Select
        jQuery("select").chosen({
            'min-width': '100px',
            'white-space': 'nowrap',
            disable_search_threshold: 10
        });

        // Delete row in a table
        //jQuery('.delete-row').click(function () {
        //    var c = confirm("Continue delete?");
        //    if (c)
        //        jQuery(this).closest('tr').fadeOut(function () {
        //            jQuery(this).remove();
        //        });

        //    return false;
        //});

        // Show aciton upon row hover
        jQuery('.table-hidaction tbody tr').hover(function () {
            jQuery(this).find('.table-action-hide a').animate({ opacity: 1 });
        }, function () {
            jQuery(this).find('.table-action-hide a').animate({ opacity: 0 });
        });

        // With Form Validation Wizard
        var $validator = jQuery("#firstForm").validate({
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });
    });

    // For News Category High Level Add Operation
    function Save() {
        var $valid = jQuery('#firstForm').valid();
        if (!$valid) {
            $validator.focusInvalid();
            return false;
        }
        else {
            var IsInsert = 1; // default option : insert new company model
            var NewsCategoryID=0; // default option : insert new company model
            @{

                            var CompanyID = 0;
                            var UserModel = OperatorFactory.GetUser(User.Identity.GetUserId());
                            if (UserModel != null && UserModel.CompanyID !=null&& UserModel.CompanyID.Value > 0) // UserModel.CompanyID.Value : update existing company model
                            {
                                //IsInsert = 0;
                                CompanyID = UserModel.CompanyID.Value;
                            }
                        }
            //------------------TAB 01 : 播报类别信息
            var valNewsCategoryOrderID = $("#NewsCategoryOrderID").val();
            var valNewsCategoryName = $("#NewsCategoryName").val();
            var valNewsCategoryPicture = $("#NewsCategoryPicture").val();
            var valNewsCategoryContent = $("#NewsCategoryContent").val();
            var valNewsCategoryParentID = 0;

            var valNewsCategoryID=$("#NewsCategoryID").val();
            NewsCategoryID=parseInt(valNewsCategoryID);

            if (NewsCategoryID>0) {
                IsInsert=0;
            }
            var stringTABONE = IsInsert+"_"+valNewsCategoryOrderID + "_" + valNewsCategoryName + "_" + valNewsCategoryPicture + "_" +
                valNewsCategoryContent + "_" + valNewsCategoryParentID;
            window.alert(stringTABONE);

            alert(1);
            alert("NewsCategoryID:"+NewsCategoryID+" IsInsert:"+IsInsert);

            $.ajaxAntiForgery({
                type: "post",
                data:{ CategoryID:NewsCategoryID,CompanyID:@CompanyID,IsInsert:IsInsert,NewsCategoryName:valNewsCategoryName,NewsCategoryPicture:valNewsCategoryPicture,
                    NewsCategoryContent:valNewsCategoryContent,NewsCategoryParentID:valNewsCategoryParentID,NewsCategoryOrderID:valNewsCategoryOrderID},
                url: "/Company/CompanyNewsCategoryEdit",
                success: function (data) {
                    CategoryDIValuesClear();

                    // 1. after success , need do close DIV Display
                    // 2. refresh current page
                    
                    SaveInfo(true,"播报分类信息");
                    //$('#progressWizard').bootstrapWizard('show',1);
                }
            })
            alert(1111);
        }
    }

    // DIV category fields display , Clear Input Values
    function CategoryDIValuesClear()
    {
        $("#NewsCategoryID").val("0");
        $("#NewsCategoryOrderID").val("0");
        $("#NewsCategoryName").val("NewsCategoryName0000");
        $("#NewsCategoryPicture").val("NewsCategoryPicture0000");
        $("#NewsCategoryContent").val("NewsCategoryContent0000");
    }

    // For News Category High Level Edit Operation , DIV category fields display
    function CategoryEdit(CategoryID)
    {
        alert(CategoryID);

        var $valid = jQuery('#firstForm').valid();
        if (!$valid) {
            $validator.focusInvalid();
            return false;
        }
        else {

            alert(2);
            $.ajaxAntiForgery({
                type: "post",
                data:{CategoryID:parseInt(CategoryID)},
                url:"/Company/CompanyNewsCategoryByID",
                dataType:"json",
                success:function(data){
                    //alert(data.NewsCategoryName+"_"+data.NewsCategoryParentID+"_2222");
                    $("#NewsCategoryID").val(data.NewsCategoryID);
                    $("#NewsCategoryOrderID").val(data.NewsCategoryOrderID);
                    $("#NewsCategoryName").val(data.NewsCategoryName);
                    $("#NewsCategoryPicture").val(data.NewsCategoryPicture);
                    $("#NewsCategoryContent").val(data.NewsCategoryContent);
                }
            });

            alert(2222);
        }
    }


    // For News Category High Level Delete Operation
    function CategoryDelete(Sender,CategoryID)
    {
        alert(CategoryID);
        // Delete row in a table
        //jQuery('.delete-row').click(function () {

        //});
        var c = confirm("Continue delete?");
        if (c)
        {
            alert(3);
            //CompanyNewsCategoryDelete
            $.ajaxAntiForgery({
                type: "post",
                data:{CategoryID:parseInt(CategoryID)},
                url:"/Company/CompanyNewsCategoryDelete",
                success:function(data) {
                    jQuery(Sender).closest('tr').remove(); // remove current row

                    //alert("The News Category Deleted Success!");

                    // refresh current page
                    //location.reload();

                    SaveInfo(true,"播报分类信息");
                }
            });
            alert(3333);
        }
        else {
            return false;
        }
    }

    function SaveInfo(IsSuccess,msg)
    {
        if(IsSuccess)
        {
            jQuery.gritter.add({
                title: '系统提示!',
                text: msg+',保存成功.',
                sticky: false,
                time: ''
            });
        }
        else
        {
            jQuery.gritter.add({
                title: '系统提示!',
                text: msg+',保存失败.',
                sticky: false,
                time: ''
            });
        }
    }
</script>
