@using Digital.WCFClient.ConfigService
@using System.Collections.ObjectModel
@using Digital.Common.Mvc.Extensions
@using Digital.Web.Controllers
@using Microsoft.AspNet.Identity
@using Digital.Common.Utilities
@model Digital.WCFClient.ConfigService.SinglePageModel
@{
    ViewBag.Title = "添加单页";
    Layout = "~/Views/Shared/_LayoutDigital.cshtml";
}

@section PageSpecificJavascriptIncludes{
    <link href="../DigitalStyle/css/jquery.tagsinput.css" rel="stylesheet" />
    <link href="../DigitalStyle/css/jquery.gritter.css" rel="stylesheet" />

    <script src="../DigitalStyle/js/jquery.gritter.min.js"></script>
    <script src="../DigitalStyle/js/jquery.autogrow-textarea.js"></script>
    <script src="../DigitalStyle/js/chosen.jquery.min.js"></script>
    <script src="../DigitalStyle/js/jquery.validate.min.js"></script>
    <script src="../DigitalStyle/js/JqueryToken.js"></script>

    <script src="../DigitalStyle/js/ckeditor/ckeditor.js"></script>
    <script src="../DigitalStyle/js/ckeditor/adapters/jquery.js"></script>
}
<div class="contentpanel">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-btns">
                    <a href="" class="panel-close">&times;</a>
                    <a href="" class="minimize">&minus;</a>
                </div>
                <h4 class="panel-title">单独页面添加</h4>
                <p>类似 关于我们、联系我们等页面均属于单独页面，您还可以自由增减相关信息，如：售后服务、企业资质等内容</p>
            </div>

            <div class="panel-body">
                <form class="form" id="firstForm" onsubmit="return false">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-sm-1 control-label">页面标题</label>
                        <div class="col-sm-6">
                            <input id="PageTitle" value="@Model.PageTitle" type="text" placeholder="" class="form-control">
                            <span class="help-block">
                                标题信息将便于搜索引擎对该页面的判定，以确定排名
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">关键字</label>
                        <div class="col-sm-6">
                            <input id="PageKeyWords" value="@Model.PageKeyWords" type="text" placeholder="" class="form-control">
                            <span class="help-block">
                                关键字信息将用于您的网站优化
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">页面描述</label>
                        <div class="col-sm-6">
                            <textarea id="PageDescription" class="form-control" rows="5">@Model.PageDescription</textarea>
                            <span class="help-block">
                                限100字内
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label">关联标示</label>
                        <div class="col-sm-6">
                            <div class="col-sm-3">
                                <input id="PageRelationFlag" value="@Model.PageRelationFlag" type="text" placeholder="" class="form-control">
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control mb15">
                                    <option value="1"> aboutus</option>
                                    <option value="2"> qiyezizhi </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <textarea id="PageBody" name="PageBody" placeholder="请在此输入主题内容" class="form-control" rows="10">@Model.PageBody</textarea>
                </form>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-primary" onclick="javascript: Save();">提交</button>&nbsp;
                        <button class="btn btn-default">取消</button>
                    </div>
                </div>
            </div>

        </div> <!-- panel -->

    </div>
</div>



<script>
    jQuery(document).ready(function () {

        // With Form Validation Wizard
        var $validator = jQuery("#firstForm").validate({
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });
      
        // Textarea Autogrow
        jQuery('#PageBody').autogrow();

        // Input Masks
        jQuery("#date").mask("99/99/9999");
        jQuery("#phone").mask("(999) 999-9999");
        jQuery("#ssn").mask("999-99-9999");

    });
</script>

<script>
    jQuery(document).ready(function () {

        // CKEditor
        jQuery('textarea#PageBody').ckeditor();

        jQuery('#inlineedit1, #inlineedit2').ckeditor();

        // Uncomment the following code to test the "Timeout Loading Method".
        // CKEDITOR.loadFullCoreTimeout = 5;

        window.onload = function () {
            // Listen to the double click event.
            if (window.addEventListener)
                document.body.addEventListener('dblclick', onDoubleClick, false);
            else if (window.attachEvent)
                document.body.attachEvent('ondblclick', onDoubleClick);
        };

        function onDoubleClick(ev) {
            // Get the element which fired the event. This is not necessarily the
            // element to which the event has been attached.
            var element = ev.target || ev.srcElement;

            // Find out the div that holds this element.
            var name;

            do {
                element = element.parentNode;
            }
            while (element && (name = element.nodeName.toLowerCase()) &&
                (name != 'div' || element.className.indexOf('editable') == -1) && name != 'body');

            if (name == 'div' && element.className.indexOf('editable') != -1)
                replaceDiv(element);
        }

        var editor;

        function replaceDiv(div) {
            if (editor)
                editor.destroy();
            editor = CKEDITOR.replace(div);
        }

    });


    // For SinglePage Add Operation , Submit Button
    function Save() {
        var $valid = jQuery('#firstForm').valid();
        if (!$valid) {
            $validator.focusInvalid();
            return false;
        }
        else {
            var IsInsert = 1; // default option : insert single page model
            var SinglePageID = 0; // default option : insert single page model
            @{

                var CompanyID = 0;
                var UserModel = OperatorFactory.GetUser(User.Identity.GetUserId());
                if (UserModel != null && UserModel.CompanyID !=null&& UserModel.CompanyID.Value > 0) // UserModel.CompanyID.Value : update existing company model
                {
                    //IsInsert = 0;
                    CompanyID = UserModel.CompanyID.Value;
                }
            }

            //------------------TAB 01 : 单页信息
            var valPageTitle = $.jsparams.input("PageTitle");
            var valPageKeyWords = $.jsparams.input("PageKeyWords");
            var valPageDescription = $.jsparams.textarea("PageDescription");
            var valPageRelationFlag = $.jsparams.input("PageRelationFlag");
            var valPageBody = $.jsparams.textarea("PageBody");
            var valCompanyID = @CompanyID;

            var stringTABONE = valPageTitle + "_" + valPageKeyWords + "_" + valPageDescription + "_" +
                valPageRelationFlag + "_" + valPageBody + "_" + valCompanyID;
            alert(stringTABONE);

            var datas={ CompanyID:@CompanyID,IsInsert:IsInsert,PageTitle:valPageTitle,PageKeyWords:valPageKeyWords,
                PageDescription:valPageDescription,PageRelationFlag:valPageRelationFlag,PageBody:valPageBody};
            ComAjax("/Company/CompanySinglePageSave",datas,"单页信息");

        }
    }

</script>