@model Digital.WCFClient.ConfigService.WaterMarkModel
@using Digital.Common.Mvc.Extensions
@{
    ViewBag.Title = "账户信息管理";
    Layout = "~/Views/Shared/_LayoutDigital.cshtml";
}
@section PageSpecificJavascriptIncludes{
<link href="../DigitalStyle/css/jquery.gritter.css" rel="stylesheet">
<script src="../DigitalStyle/js/jquery.validate.min.js"></script>
<script src="../DigitalStyle/js/messages_cn.js"></script>
<script src="../DigitalStyle/js/JqueryToken.js"></script>
<script src="../DigitalStyle/js/jquery.gritter.min.js"></script>
}

<div class="pageheader">
    <h2><i class="fa fa-user"></i> 水印设置 <span>企业文件柜</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">你的位置:</span>
        <ol class="breadcrumb">
            <li><a href="">企业中心</a></li>
            <li class="active">企业文件柜</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">

        <div class="col-sm-3">
            <img src="../DigitalStyle/images/photos/profile-1.png" class="thumbnail img-responsive" alt="" />
        </div>
        @Html.AntiForgeryToken()
        <div class="col-sm-9">
            <div class="col-md-9">
                <div class="ckbox ckbox-primary">
                    <input type="checkbox" value="1" id="IsCompanyName" @Html.IsChecked(Model.IsCompanyName)  />
                    <label for="IsCompanyName">显示企业名称</label>
                </div>
                <div class="ckbox ckbox-success">
                    <input type="checkbox" id="IsWebSite" @Html.IsChecked(Model.IsWebsite) />
                    <label for="IsWebSite">显示企业店铺网址</label>
                </div>
            </div><!-- col-md-6 -->

            <div class="col-md-9">
                <div class="rdio rdio-default">
                    <input type="radio" name="Postion" id="radioDefault" value="1" @Html.IsChecked(Model.WaterPostion==1) />
                    <label for="radioDefault">正中间</label>
                </div>

                <div class="rdio rdio-primary">
                    <input type="radio" name="Postion" value="2" id="radioPrimary" @Html.IsChecked(Model.WaterPostion == 2) />
                    <label for="radioPrimary">左上角</label>
                </div>

                <div class="rdio rdio-warning">
                    <input type="radio" name="Postion" value="3" id="radioWarning" @Html.IsChecked(Model.WaterPostion == 3) />
                    <label for="radioWarning">右下角</label>
                </div>

                <div class="rdio rdio-success">
                    <input type="radio" name="Postion" value="4" id="radioSuccess" @Html.IsChecked(Model.WaterPostion == 4) />
                    <label for="radioSuccess">左右边角</label>
                </div>
            </div>

            <div class="col-md-9">
                <button class="btn btn-primary" onclick="javascript:Save()">保存</button>
            </div>
        </div>


    </div>
</div>
<script>
    function Save() {
        var IsCompanyNameval = $.jsparams.check("IsCompanyName");
        var IsWebSiteval = $.jsparams.check("IsWebSite");
        var Postionval = $.jsparams.radio("Postion");
        ComAjax("/Company/CompanyWaterEdit", { IsCompanyName: IsCompanyNameval, IsWebSite: IsWebSiteval, Postion: Postionval }, "水印设置");
    }
</script>



