@using Digital.WCFClient.ConfigService
@using System.Collections.ObjectModel
@using Digital.Common.Mvc.Extensions
@using Digital.Web.Controllers
@using Microsoft.AspNet.Identity
@using Digital.Common.Utilities
@model Digital.WCFClient.ConfigService.PatentModel
@{
    ViewBag.Title = "添加专利";
    Layout = "~/Views/Shared/_LayoutDigital.cshtml";
}
@section PageSpecificJavascriptIncludes{

    <link rel="stylesheet" href="../DigitalStyle/css/jquery.gritter.css">
    <link rel="stylesheet" href="../DigitalStyle/css/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="../DigitalStyle/css/jquery.tagsinput.css" />

    <script src="../DigitalStyle/js/jquery.gritter.min.js"></script>
    <script src="../DigitalStyle/js/jquery.validate.min.js"></script>
    <script src="../DigitalStyle/js/JqueryToken.js"></script>
    <script src="../DigitalStyle/js/jquery.autogrow-textarea.js"></script>
    <script src="../DigitalStyle/js/messages_cn.js"></script>
    <!-- CKEditor -->
    <script src="../DigitalStyle/js/ckeditor/ckeditor.js"></script>
    <script src="../DigitalStyle/js/ckeditor/adapters/jquery.js"></script>
    <!-- commom form js -->
    <script src="../DigitalStyle/js/jquery.tagsinput.min.js"></script>
}
<div class="pageheader">
    <h2><i class="fa fa-user"></i> 添加专利 <span>专利中心</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">你的位置:</span>
        <ol class="breadcrumb">
            <li><a href="">企业中心</a></li>
            <li class="active">专利中心</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">&minus;</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">专利管理</h3>
                </div>


                <div class="panel-body panel-body-nopadding">
                    <form class="form-horizontal form-bordered" id="firstForm" onsubmit="return false">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-sm-3 control-label">专利号</label>
                            <div class="col-sm-6">
                                <input id="PatentNumber" value="@Model.PatentNumber" type="text" placeholder="项目号" class="form-control" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">专利名称</label>
                            <div class="col-sm-6">
                                <input id="PatentName" value="@Model.PatentName" type="text" placeholder="项目名称" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">概述</label>
                            <div class="col-sm-6">
                                <textarea id="PatentAbstract" class="form-control" rows="5">@Model.PatentAbstract</textarea>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">专利证书</label>
                            <div class="col-sm-6">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="glyphicon glyphicon-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-new">选择专利证书文件</span>
                                            <span class="fileupload-exists">更改</span>
                                            <input id="PatentCerificate" value="@Model.PatentCerificate" type="file" />
                                        </span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">专利日期</label>
                            <div class="col-sm-4 ">
                                <div class="input-group">
                                    <input id="PatentDate" value="@Model.PatentDate" type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">技术领域</label>

                            <div class="col-sm-4 ">
                                <select id="TechnologyDomain" class="form-control chosen-select" data-placeholder="选择分类...">
                                    <option value="0"> --请选择-- </option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">开发状态</label>

                            <div class="col-sm-4 ">
                                <select id="DevelopmentStatus" class="form-control chosen-select" data-placeholder="选择状态...">
                                    <option value="0"> --请选择-- </option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序值</label>
                            <div class="col-sm-4">
                                <input id="PatentOrderID" value="@Model.PatentOrderID" type="text" placeholder="50" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">标签</label>
                            <div class="col-sm-4">
                                <input id="PatentLabels" name="PatentLabels" class="form-control" value="@Model.PatentLabels" />
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="checkbox">专利简介</label>
                            <div class="col-sm-6">
                                <textarea id="PatentIntro" name="PatentIntro" placeholder="请在此输入专利简介" class="form-control" rows="10">@Model.PatentIntro</textarea>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary" onclick="javascript: Save();">提交</button>&nbsp;
                            <button class="btn btn-default">取消</button>
                        </div>
                    </div>
                </div>
            </div><!-- panel -->
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {

        //select option : TechnologyDomain
        var TechnologyDomainjsons=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((ObservableCollection<TechnologyDomainMode>)ViewBag.TechnologyDomainList))
        DropOption(TechnologyDomainjsons,$("#TechnologyDomain"),@Model.PatentTechnologyDomain);
        //select option : DevelopmentStatus
        var DevelopmentStatusjsons=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject((ObservableCollection<DevelopmentStatusMode>)ViewBag.DevelopmentStatusList))
        DropOption(DevelopmentStatusjsons,$("#DevelopmentStatus"),@Model.PatentDevelopmentStatus);

        // Chosen Select
        jQuery(".chosen-select").chosen({ 'width': '100%', 'white-space': 'nowrap' });

        // Tags Input
        jQuery('#PatentLabels').tagsInput({ width: 'auto' });

        // Textarea Autogrow
        jQuery('#PatentAbstract').autogrow();

        // Date Picker
        jQuery('#datepicker').datepicker();

        jQuery('#datepicker-inline').datepicker();

        jQuery('#datepicker-multiple').datepicker({
            numberOfMonths: 3,
            showButtonPanel: true
        });

        // With Form Validation Wizard
        var $validator = jQuery("#firstForm").validate({
            highlight: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                jQuery(element).closest('.form-group').removeClass('has-error');
            }
        });

    });
</script>
<script>
    jQuery(document).ready(function () {

        // HTML5 WYSIWYG Editor
        //jQuery('#wysiwyg').wysihtml5({ color: true, html: true });

        // CKEditor
        jQuery('textarea#PatentIntro').ckeditor();

        //jQuery('#inlineedit1, #inlineedit2').ckeditor();

        // Uncomment the following code to test the "Timeout Loading Method".
        // CKEDITOR.loadFullCoreTimeout = 5;

        window.onload = function () {
            // Listen to the double click event.
            if (window.addEventListener)
                document.body.addEventListener('dblclick', onDoubleClick, false);
            else if (window.attachEvent)
                document.body.attachEvent('ondblclick', onDoubleClick);
        };

        function onDoubleClick(ev) {
            // Get the element which fired the event. This is not necessarily the
            // element to which the event has been attached.
            var element = ev.target || ev.srcElement;

            // Find out the div that holds this element.
            var name;

            do {
                element = element.parentNode;
            }
            while (element && (name = element.nodeName.toLowerCase()) &&
                (name != 'div' || element.className.indexOf('editable') == -1) && name != 'body');

            if (name == 'div' && element.className.indexOf('editable') != -1)
                replaceDiv(element);
        }

        var editor;

        function replaceDiv(div) {
            if (editor)
                editor.destroy();
            editor = CKEDITOR.replace(div);
        }

    });

    // For Patent Add Operation , Submit Button
    function Save() {
        var $valid = jQuery('#firstForm').valid();
        if (!$valid) {
            $validator.focusInvalid();
            return false;
        }
        else {
            var IsInsert = 1; // default option : insert patent model
            var PatentID = 0; // default option : insert patent model
            @{

                var CompanyID = 0;
                var UserModel = OperatorFactory.GetUser(User.Identity.GetUserId());
                if (UserModel != null && UserModel.CompanyID !=null&& UserModel.CompanyID.Value > 0) // UserModel.CompanyID.Value : update existing company model
                {
                    //IsInsert = 0;
                    CompanyID = UserModel.CompanyID.Value;
                }
            }
            //------------------TAB 01 : 专利信息
            var valPatentNumber = $.jsparams.input("PatentNumber");
            var valPatentName = $.jsparams.input("PatentName");
            var valPatentAbstract = $.jsparams.input("PatentAbstract");
            var valPatentCerificate = $.jsparams.input("PatentCerificate");
            var valPatentDate = $.jsparams.input("PatentDate");
            var valPatentTechnologyDomain = $.jsparams.select("TechnologyDomain");
            var valPatentDevelopmentStatus = $.jsparams.select("DevelopmentStatus");
            var valPatentOrderID = $.jsparams.input("PatentOrderID");
            var valPatentLabels = $.jsparams.input("PatentLabels");
            var valPatentIntro = $("#PatentIntro").val();

            var stringTABONE = valPatentNumber + "_" + valPatentName + "_" + valPatentAbstract + "_" +
                valPatentCerificate + "_" + valPatentDate + "_" + valPatentTechnologyDomain + "_" +
                valPatentDevelopmentStatus + "_" + valPatentOrderID + "_" + valPatentLabels + "_" +
                valPatentIntro;
            alert(stringTABONE);

            var datas= { CompanyID:@CompanyID,IsInsert:IsInsert,PatentNumber:valPatentNumber,PatentName:valPatentName,
                PatentAbstract:valPatentAbstract,PatentCerificate:valPatentCerificate,PatentDate:valPatentDate,
                PatentTechnologyDomain:valPatentTechnologyDomain,PatentDevelopmentStatus:valPatentDevelopmentStatus,
                PatentOrderID:valPatentOrderID,PatentLabels:valPatentLabels,PatentIntro:valPatentIntro};
            ComAjax("/Company/CompanyPatentSave",datas,"专利信息");

        }
    }

</script>



